<h2>romantisize</h2>
<p> for our first assignment, we were given the prompt "daily observations," and instructed to submit 4 variation prints.
    february was coming around, so i thought it'd be fun to do my first project on
    bug love, exploring how the mating ritual of mantises is rather macabre through a silly 
    amalgam of cute vector art and creepy photo manipulation.
</p>


<h3>final prints</h3>
<img src="../../assets/screenprinting/1/001.png" class="finals">
<img src="../../assets/screenprinting/1/002.png" class="finals">
<img src="../../assets/screenprinting/1/003.png" class="finals">
<img src="../../assets/screenprinting/1/004.png" class="finals">
<h3>test prints</h3>

<img src="../assets/screenprinting/1/test/01.png">
<img src="../assets/screenprinting/1/test/02.png">
<img src="../assets/screenprinting/1/test/03.png">
<img src="../assets/screenprinting/1/test/04.png">
<img src="../assets/screenprinting/1/test/05.png">
<img src="../assets/screenprinting/1/test/06.png">
<img src="../assets/screenprinting/1/test/07.png">
<img src="../assets/screenprinting/1/test/09.png">
<img src="../assets/screenprinting/1/test/10.png">
<img src="../assets/screenprinting/1/test/11.png">
<img src="../assets/screenprinting/1/test/12.png">
<img src="../assets/screenprinting/1/test/13.png">
<img src="../assets/screenprinting/1/test/14.png">
<img src="../assets/screenprinting/1/test/15.png">
<img src="../assets/screenprinting/1/test/16.png">
<img src="../assets/screenprinting/1/test/17.png">
<img src="../assets/screenprinting/1/test/18.png">
<img src="../assets/screenprinting/1/test/19.png">
<img src="../assets/screenprinting/1/test/20.png">
<img src="../assets/screenprinting/1/test/21.png">
<img src="../assets/screenprinting/1/test/22.png">
<img src="../assets/screenprinting/1/test/23.png">
<img src="../assets/screenprinting/1/test/24.png">
<img src="../assets/screenprinting/1/test/28.png">
<img src="../assets/screenprinting/1/test/29.png">
<img src="../assets/screenprinting/1/test/30.png">
<img src="../assets/screenprinting/1/test/31.png">
