<div class ="center objects"> <br>
    <h2 class="beans">>etc</h2>

        <div class="objects">
            <a routerLink="../recipes">
                <div>
                    <img src = "../../assets/blender.gif">
                    <figcaption>recipes</figcaption>
                </div>
                </a>

                <a routerLink="../teleport">
                    <div>
                        <img src = "../../assets/boy.gif">
                        <figcaption>dive deeper</figcaption>
                    </div>
                    </a>
        </div>
</div>