
.objects{
    display:flex; 
    margin: auto;
}

.image{
    width: 1000px;
    margin-left: 1%;
}

.sktch{
    width: 500px;
}

.cont {
    display: flex;
    align-items: center;
    margin-left: 10%;
  }


  .margin{
    margin: 2.5%;
  }
  
  .image-container {
    flex-grow: 1;
  }

  button{
    font-family: vcr;
    padding: 2.5%;
    margin: .20%;
    background-color: #a7a3b5;
    border: solid black;
    border-radius: 5px;
  }
  button:hover{ 
    box-shadow: -2px 2px 2px 2px black;
  }
  button:active{
    background-color: #c49edd;
  }

  .arrow{
    padding: 50%;
    font-size: 30px;
  }