<h2>typescript sketchbook viewer</h2>
<p style="text-align: center;">{{index+1}} / {{currentImgs.length}}</p>
<div class="cont">
<div class="margin">
    <button (click)="back()" class="arrow"><</button>
  </div>
  <div>
    <img #page class="image" [src]="currentImgs[index]" />
  </div>
  <div class="margin">
    <button (click)="forward()" class="arrow">></button>
  </div> 
</div>

<p style="text-align: center;">this sketchbook was maintained by me from 10/28/21 to 6/3/23. <br>
this was originally coded in javascript, but i figured it'd be a good idea to convert it to typescript as i built my website with angular.
hopefully this gives you some better insight into my brain... <br>
</p>

