<h2>cartilaginous narcissus</h2>
<p> our theme was "micro vs. macro;" i thought an image of a higher intelligence being watching one considered to be lesser to be a fun exploration of this prompt.
    we were instructed to submit three final variation prints (i did 4, whoops) and another variation with 4 editions, exploring the four color print process and transparency. </p>

<h3>final prints</h3>

<div>

<h4>editions</h4>
<img src="../assets/screenprinting/2/006.png" id="finals">
<img src="../assets/screenprinting/2/015.PNG" id="finals">
<img src="../assets/screenprinting/2/017.PNG" id="finals">
<img src="../assets/screenprinting/2/014.PNG" id="finals">

<h4>variations</h4>
<img src="../assets/screenprinting/2/018.PNG" id="finals">
<img src="../assets/screenprinting/2/020.PNG" id="finals">
<img src="../assets/screenprinting/2/021.PNG" id="finals">
<img src="../assets/screenprinting/2/019.PNG" id="finals">
</div>


<h3>test prints</h3>
<img src="../assets/screenprinting/2/001.PNG">
<img src="../assets/screenprinting/2/002.PNG">
<img src="../assets/screenprinting/2/003.PNG">
<img src="../assets/screenprinting/2/004.PNG">
<img src="../assets/screenprinting/2/005.png">
<img src="../assets/screenprinting/2/007.PNG">
<img src="../assets/screenprinting/2/008.PNG">
<img src="../assets/screenprinting/2/009.PNG">
<img src="../assets/screenprinting/2/010.png">
<img src="../assets/screenprinting/2/011.PNG">
<img src="../assets/screenprinting/2/012.PNG">
<img src="../assets/screenprinting/2/013.PNG">
<img src="../assets/screenprinting/2/022.PNG">
<img src="../assets/screenprinting/2/023.PNG">
<img src="../assets/screenprinting/2/025.PNG">
<img src="../assets/screenprinting/2/026.PNG">
<img src="../assets/screenprinting/2/027.PNG">

