<h2>cartilaginous narcissus</h2>
<p> our theme was "micro vs. macro;" i thought an image of a higher intelligence being watching one considered to be lesser to be a fun exploration of this prompt.
    we were instructed to submit three final variation prints (i did 4, whoops) and another variation with 4 editions, exploring the four color print process and transparency. </p>

<h3>final prints</h3>

<div>

<h4>editions</h4>
<img src="../assets/screenprinting/2/006.png" id="finals">
<img src="../assets/screenprinting/2/015.png" id="finals">
<img src="../assets/screenprinting/2/017.png" id="finals">
<img src="../assets/screenprinting/2/014.png" id="finals">

<h4>variations</h4>
<img src="../assets/screenprinting/2/018.png" id="finals">
<img src="../assets/screenprinting/2/020.png" id="finals">
<img src="../assets/screenprinting/2/021.png" id="finals">
<img src="../assets/screenprinting/2/019.png" id="finals">
</div>


<h3>test prints</h3>
<img src="../assets/screenprinting/2/001.png">
<img src="../assets/screenprinting/2/002.png">
<img src="../assets/screenprinting/2/003.png">
<img src="../assets/screenprinting/2/004.png">
<img src="../assets/screenprinting/2/005.png">
<img src="../assets/screenprinting/2/007.png">
<img src="../assets/screenprinting/2/008.png">
<img src="../assets/screenprinting/2/009.png">
<img src="../assets/screenprinting/2/010.png">
<img src="../assets/screenprinting/2/011.png">
<img src="../assets/screenprinting/2/012.png">
<img src="../assets/screenprinting/2/013.png">
<img src="../assets/screenprinting/2/022.png">
<img src="../assets/screenprinting/2/023.png">
<img src="../assets/screenprinting/2/025.png">
<img src="../assets/screenprinting/2/026.png">
<img src="../assets/screenprinting/2/027.png">

