<div class ="center">
    <h2>>projects</h2>

        <div class="objects">
                <a href="https://devpost.com/software/hypercube-hoard-hecklers-pm8at3?ref_content=user-portfolio&ref_feature=in_progress">
                        <div>
                            <img src = "../../assets/HHH.png">
                            <figcaption>HYPERCUBE HOARD HECKLERS</figcaption>
                            <span>2023</span>
                        </div>
                        </a>
            <a routerLink="../screenprinting">
                <div>
                    <img src = "../../assets/screen.png">
                    <figcaption>screenprinting</figcaption>
                    <span>2023</span>
                </div>
                </a>
            <a routerLink="../sketchbook">
            <div>
                <img src = "../../assets/screenprinting/1/sketchback.png">
                <figcaption>sketchbook viewer</figcaption>
                <span>2023 <br> typescript</span>
            </div>
            </a>
            <a href="https://devpost.com/software/cultidress">
                <div>
                    <img src = "../../assets/culti.jpg">
                    <figcaption>cultidress</figcaption>
                    <span>2022 <br> javaFX </span>
                </div> <br>
                </a>
            <br>
            <a routerLink="../dress">
            <div>
                <img src = "../../assets/dress.png">
                <figcaption>dressup</figcaption>
                <span>2020 <br> p5.js </span>
            </div>
            </a>
            <a routerLink="../lamp">
            <div>
                <img src = "../../assets/lamp.png">
                <figcaption>lamp</figcaption>
                <span>2020<br> p5.js </span>
            </div>
        </a>
        </div>
</div>