<div class ="center">
    <h2>>welcome to my corner of cyberspace</h2>
    <p> this site is powered by angular. the owner, on the other hand, is powered by yogurt</p>
    - <br>
    <img src="../assets/lain-dancing.gif" alt="lain dancin"> <br>
    -
    <br>
    <a href="https://www.wikihow.com/Cope-with-Feeling-Stupid"> Click here to turn off marquees</a> <br>
    <br> <img src="../assets/1.png" alt="puma neutral"><img src="../assets/2.png" alt="puma smirking"> <img src="../assets/3.png"alt="puma smiling"> <img src="../assets/4.png" alt="puma sneezing"><img src="../assets/5.png" alt="puma gasping"> 
    <br><a routerLink="updates"> <span>> </span>11.03.2023 update log</a>
</div>