<div class ="center">
    <h2>screenprinting projects</h2>

        <div class="objects">
            <a routerLink="../shark">
                <div>
                    <img src = "../../assets/screenprinting/1/ss.png">
                    <figcaption>shark</figcaption>
                    <span>2023</span>
                </div>
                </a>
            <a routerLink="../mantis">
            <div>
                <img src = "../../assets/screenprinting/1/test/26.png">
                <figcaption>mantis</figcaption>
                <span>2023</span>
            </div>
            </a>
        </div>
</div>