.sidebar {
    border-right: dashed 3px;
    overflow: hidden;
    margin-top: 1%;
    padding-right: 2%; /* Use percentage-based padding for responsiveness */
    font-size: 4em; /* Adjust the font size as needed */
}

@media (max-width: 768px) {
    .sidebar {
        display: none 
    }
 }