<h2>updates</h2>
<h3>12/12/23: </h3>
<p> mostly just some qol stuff</p>
<p> new links added to portal</p>

<h3>11/03/23: </h3>
<p> more banners added </p>
<p> mobile banner fixed</p>
<p> fixed image sizing stuff</p>
<p> etc has a recipes page. experimenting w angular magic so i dont have to make any more pages than necessary</p>
<p> i opened up a portal somewhere...</p>
<p> random phrases generated for marquee</p>

<h3>todo:</h3>
<p> add anime mode</p>
<p> add fave books, games, albums to etc </p>


<h3>10/01/23: </h3>
<p> routing issue and sketchbook loading issue fixed by switching host lol</p>
<p> new domain</p>
<p> now functioning on mobile</p>

<h3>07/29/23: </h3>
<p>update page added </p>
<p>added links to some more projects ive worked on </p>
<p>added loading to sketchbook</p>